body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */
/* Button 1*/
.btn-1:hover {
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: blue;
    background: linear-gradient(#0061ff 0%, #60efff 100%);
    transform: translateX(5px,);
    transform: translateY(-5px);
    transform: scale(1.2);
    box-shadow: 5px 5px 5px #103783;
}

/* Button 2*/
.btn-2 {
    position: relative;
    overflow: hidden;
    transition: color 0.5s ease;
}

.btn-2::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #e91e63;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 0.5s ease;
    z-index: -1;
}

.btn-2:hover {
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #e91e63;
}

.btn-2:hover::before {
    transform: translateX(0);
}

/* Button 3*/
.btn-3:hover {
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background: linear-gradient(#40c9ff, #e81cff);
    animation-name: button-3;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 0;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
}

/* Animation Keyframes for button 3*/
@keyframes button-3 {
    100% {
        transform: rotateX(-360deg) scale(1.4);
        background: linear-gradient(#40c9ff 25%, #e81cff 50%);
    }
}
